<launch>
  <arg name="cam_num" default="0" />
  <arg name="video_only" default="True" />
  <arg name="viewer" default="False" />
  <arg name="compression" default="True" />
  <arg name="focus" default="51" />

  <group ns="$(arg cam_num)">
    <node name="versionpub" pkg="metatools" type="versionpub.py">
      <rosparam>
        package_names: ['metatools', 'trap_assay', 'multi_tracker', 'usb_cam']
      </rosparam>
    </node>

    <include
      file="$(find multi_tracker)/launch/load_tracking_parameter_yamls.launch"/>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" required="true">
      <!-- TODO appropriate framerate? check not duplicates -->
      <param name="video_device" value="/dev/video$(arg cam_num)"/>
      <param name="framerate" value="5"/>
      <param name="focus" value="$(arg focus)"/>
    
      <!-- not calibrating cameras for now. maybe use multi_tracker launch file
           combining usb_cam node and rectification if we do go that route.
      <param name="camera_info_url"
        value="file:///home/lab/.ros/camera_info/head_camera.yaml" />
      -->
    </node>
    
    <include file="$(find multi_tracker)/launch/tracking.launch">
      <arg name="video_only" value="$(arg video_only)" />
      <arg name="viewer" value="$(arg viewer)" />
      <arg name="compression" value="$(arg compression)" />
      <!-- TODO need to deal w/ this? just set to false?
      <arg name="track_reconstructed_delta_video"
        value="$(arg track_reconstructed_delta_video)" />
      -->

      <arg name="camera" value="usb_cam/image_raw" />
    </include>
  </group>
</launch>
